h1 img{
    float: right;
    margin-right:20%;
}
body{
    background-image: url("https://i.pinimg.com/564x/2b/68/fa/2b68fab1d6b634a7943ff0cacb8483de.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}