

body {
  background-color: #2b344b;
  font-size: 18px;
  color: white;
}
p{
  font-family: 'Buenard', serif;
  font-size: 30px;
}
h1{
  font-family: 'Playball', cursive;
}

h2{
  font-family: 'Jura', sans-serif;
}
img {
  max-width: 1000px;
}

h1 {
  font-size: 100px;
  color: #5ac3d1;
}

h2 {
  text-align: center;
  font-size: 50px;
  color: #f9f9f9;
}

h2 img {
  float: left;
  width: 10px;
  height: 10px;
}

#logo {
  max-width: 300px;
  max-height: 300px;
}

.triple {
  max-width: 350px;
}



.text {
  color: black;
  background-color
}

.logo-button{
  backface-visibility: hidden;
  background-color: inherit;
  border-color: transparent;
}
